{% extends 'base.html' %}
{% load static%}
{% block title %}
Car
{% endblock %}
{% block content %}
   <div class="row">
        <div class="col-md-3">
        {% include 'side_bar.html' %}
        </div>
        <div class="col-md-9">
            <div class="row">
                {% for car in object_list %}
                    <div class="col-lg-3 col-md-6 m-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ car.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ car.name }}</h5>
                                <p class="card-text">{{car.description}}.</p>
                                <p class="text-center">{{ car.daily_rent }}/Day</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'car_detail' car.pk %}" class="btn btn-primary">See Detail</a>
                            </div>
                        </div>
                        </div>
                {% endfor %}
            </div>

        </div>
   </div>


{% endblock %}