
        <div class="list-group">
            <a href="." class="list-group-item active">
					Dashboard
                </a>
                <a href="{% url 'ride_new' %}" class="list-group-item">
                    Ride
                </a>
                <a href="car-list" class="list-group-item">
                   Car
                </a>
                <a href="{% url 'book_list' %}" class="list-group-item">
                   Booking
                </a>
                <a href="{% url 'profile' %}" class="list-group-item">
                    Profile
                </a>
        </div>

